In [165]:
import pandas as pd

csv_schools=r'C:\Users\K Y\pandas_data_challenge\PyCitySchools\raw_data\schools_complete.csv'
csv_students=r'C:\Users\K Y\pandas_data_challenge\PyCitySchools\raw_data\students_complete.csv'

In [211]:
schoolsData = pd.read_csv(csv_schools)
students_df = pd.read_csv(csv_students)

#change name in schoolsData (output = schools_df) so it matches school in students_df
schoolsData = schoolsData.rename(columns = {'name':'school'})
schools_df = schoolsData.set_index('school', drop=True)
schools_df.head(15)

                       School ID      type  size   budget
school
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [200]:
# ---District Summary ---
'''table of key district metrics including: Total Schools, Total Students, Total Budget, Average Math Score,
Average Reading Score, % Passing Math, % Passing Reading, Overall Passing Rate (Average of the above two)'''

schoolCt = schools_df['School ID'].count()
studentCt = students_df['name'].count()
SumTotalBudg = schools_df['budget'].sum()
AvgMath = students_df['math_score'].mean()
AvgRead = students_df['reading_score'].mean()
#variables only used to get percentages
MathPassNum = students_df[students_df.math_score >= 70].count()
ReadPassNum = students_df[students_df.reading_score >= 70].count()
#getting percentages
MathPassPerc = (MathPassNum / studentCt) * 100
ReadPassPerc = (ReadPassNum / studentCt) * 100
OverallPass = (MathPassPerc + ReadPassPerc) / 2

#Setting up the table, 
DistMetric_df = pd.DataFrame({'Total Schools':schoolCt, 'Total Students':studentCt, 'Total Budget':SumTotalBudg,\
    'Average Math Score':AvgMath, 'Average Reading Score':AvgRead, '% Passing Math':MathPassPerc,\
    '% Passing Reading':ReadPassPerc, 'Overall Passing Rate':OverallPass})
#resetting index to numbers,
DistMetric_df.reset_index(drop=True, inplace = True)
#rearranging the order,
DistMetric_df = DistMetric_df[['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score',\
    'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]
#and getting first row of table
DistMetric_df.head(1)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [239]:
#---School Summary---
'''merge schools_df with new variables: Average Math Score, Average Reading Score,
% Passing Math, % Passing Reading, Overall Passing Rate (Average of the above two)'''

#initializing groupby of students_df, getting student count and average scores for M and R
GroupStuSch = students_df.groupby('school')
StudentCt = GroupStuSch['Student ID'].count()
PerStuBudg = schools_df['budget'] / StudentCt
AvgScoresM = GroupStuSch['math_score'].mean()
AvgScoresR = GroupStuSch['reading_score'].mean()

#Getting the count of all passing students in both math and reading
SchoolPassM = students_df[students_df.math_score > 70].groupby('school').count() 
SchoolPassR = students_df[students_df.reading_score > 70].groupby('school').count()

#Getting pass % 
SchPerPassM = (SchoolPassM['math_score'] / StudentCt) * 100
SchPerPassR = (SchoolPassR['reading_score'] / StudentCt) * 100
SchOverall = (SchPerPassM + SchPerPassR) / 2

#concatenate schools_df
frames = [PerStuBudg, AvgScoresM, AvgScoresR, SchPerPassM, SchPerPassR, SchOverall]
SchScores= pd.concat(frames, axis=1)
SchScores.columns = ['Per Student Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']
#merge with schools_df, clean up, and format
SchSummary = schools_df.join(SchScores)
del SchSummary['School ID']
SchSummary = SchSummary.rename(columns = {'type':'School Type', 'size':'Total Students', 'budget':'Total School Budget'})
SchSummaryFrmt = SchSummary.sort_index(axis=0) #sort school name (aka. the index) in alphabetical order  
SchSummaryFrmt = SchSummaryFrmt.style.set_properties(**{'text-align': 'right'})
SchSummaryFrmt

In [252]:
#**Top Performing Schools (By Passing Rate)**
'''Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
  * School Name * School Type * Total Students * Total School Budget * Per School Budget * Average Math Score
  * Average Reading Score * % Passing Math * % Passing Reading * Overall Passing Rate (Average of the above two)
'''
TopSchs = SchSummary.sort_values('Overall Passing Rate', ascending=False)
TopSchs.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school,,,,,,,,,
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,92.740047,91.686183

In [264]:
#**Bottom Performing Schools (By Passing Rate)**
'''Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
  * School Name * School Type * Total Students * Total School Budget * Per School Budget * Average Math Score
  * Average Reading Score * % Passing Math * % Passing Reading * Overall Passing Rate (Average of the above two)
'''
BotSchs = SchSummary.sort_values('Overall Passing Rate')
BotSchs.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,78.187702,71.467098